body {
    font-family: 'Inter', 'sans-serif', 'Arial'; /* Yazı tipi ailesi */
    font-size: 20px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #5988FF; /* Web sayfasının arka plan rengi */
    color: #FD98FB; /* Metin rengi */
}

h1 {
    color: #D6FF6B; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: "Arial"; /* Başlıkta kullanılan yazı tipi ailesi */
}

h2 {
    color: #FFFFFF; /* Başlık rengi */
    font-size: 22px; /* Başlık yazı tipi boyutu */
    font-family: "Arial"; /* Başlıkta kullanılan yazı tipi ailesi */
}

h3 {
    color: #FFFFFF; /* Başlık rengi */
    font-size: 22px; /* Başlık yazı tipi boyutu */
    font-family: "Arial"; /* Başlıkta kullanılan yazı tipi ailesi */
}

h4 {
    color: #FFFFFF; /* Başlık rengi */
    font-size: 22px; /* Başlık yazı tipi boyutu */
    font-family: "Arial"; /* Başlıkta kullanılan yazı tipi ailesi */
}

h5 {
    color: #FFFFFF; /* Başlık rengi */
    font-size: 22px; /* Başlık yazı tipi boyutu */
    font-family: "Arial"; /* Başlıkta kullanılan yazı tipi ailesi */
}

h6 {
    color: #FFFFFF; /* Başlık rengi */
    font-size: 22px; /* Başlık yazı tipi boyutu */
    font-family: "Arial"; /* Başlıkta kullanılan yazı tipi ailesi */
}

h7 {
    color: #FFFFFF; /* Başlık rengi */
    font-size: 22px; /* Başlık yazı tipi boyutu */
    font-family: "Arial"; /* Başlıkta kullanılan yazı tipi ailesi */
}

h8 {
    color: #FFFFFF; /* Başlık rengi */
    font-size: 22px; /* Başlık yazı tipi boyutu */
    font-family: "Arial"; /* Başlıkta kullanılan yazı tipi ailesi */
}

h9 {
    color: #FFFFFF; /* Başlık rengi */
    font-size: 22px; /* Başlık yazı tipi boyutu */
    font-family: "Arial"; /* Başlıkta kullanılan yazı tipi ailesi */
}

h10 {
    color: #FFFFFF; /* Başlık rengi */
    font-size: 22px; /* Başlık yazı tipi boyutu */
    font-family: "Arial"; /* Başlıkta kullanılan yazı tipi ailesi */
}